<p id="notice"><%= notice %></p>

<h1>Listing Equities</h1>

<table>
  <thead>
    <tr>
      <th>Nom action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equities.each do |equity| %>
      <tr>
        <td><%= equity.nom_action %></td>
        <td><%= link_to 'Show', equity %></td>
        <td><%= link_to 'Edit', edit_equity_path(equity) %></td>
        <td><%= link_to 'Destroy', equity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equity', new_equity_path %>
