<%= form_for(@actio) do |f| %>
  <% if @actio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actio.errors.count, "error") %> prohibited this actio from being saved:</h2>

      <ul>
      <% @actio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom_action %><br>
    <%= f.text_field :nom_action %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
