<p id="notice"><%= notice %></p>

<p>
  <strong>Prix:</strong>
  <%= @transaction.prix %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @transaction.quantity %>
</p>

<p>
  <strong>Date transaction:</strong>
  <%= @transaction.date_transaction %>
</p>

<p>
  <strong>Trader:</strong>
  <%= @transaction.trader %>
</p>

<p>
  <strong>Equity:</strong>
  <%= @transaction.equity %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
